.footer {
  display: flex;
  font-family: "CabinetGrotesk-Medium", "sans-serif";
  font-size: 16px;
  line-height: 1.2;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.footer__author {
  margin: 0;
}

.footer__year {
  margin: 0 0 0 auto;
}
